@font-face {
  font-family: 'tpl';
  src:  url('fonts/tpl.eot?agry6q');
  src:  url('fonts/tpl.eot?agry6q#iefix') format('embedded-opentype'),
    url('fonts/tpl.ttf?agry6q') format('truetype'),
    url('fonts/tpl.woff?agry6q') format('woff'),
    url('fonts/tpl.svg?agry6q#tpl') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tpl' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-essential:before {
  content: "\e900";
}
.icon-algaecultivation:before {
  content: "\e901";
}
.icon-processing:before {
  content: "\e902";
}
.icon-protein:before {
  content: "\e903";
}
.icon-rd:before {
  content: "\e904";
}
.icon-sales:before {
  content: "\e905";
}
.icon-spirulinabreeding:before {
  content: "\e906";
}
.icon-ylinolenicacid:before {
  content: "\e907";
}
.icon-carotene:before {
  content: "\e908";
}
